body,
html {
    width: 100%;
    height: 100%;
}

body{
    padding-top:100px;
    background-color:white;
}
.ddd
{
	padding-left:60px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    
}

#content{
	padding:7px;
    min-height: 500px;
}

#banner_image {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
}

#banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

#item_list {
    padding-top: 20px;
}

/*This code ensures that when we navigate to a particular section of a page, the section does not get lost behind the header*/
#cameras:before, #watches:before, #shirts:before{
    display: block; 
    content: " "; 
    margin-top: -85px; 
    height: 85px; 
    visibility: hidden;
}


#login-panel .panel-footer{
    font-weight:normal;
}

footer {
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom:0;
    width: 100%;
}

.red{
    color:red;
}

#settings-container{
    margin-bottom:10px;
}

.navbar-brand{
    font-size:20px;
}

@media(max-width:768px) {
    #banner_content {
        padding-bottom: 15%;
    }
    footer{
        text-align:left;
    }
}

.remove_item_link{
    color:#0000ff;
}
#my_id
{   color:white;
	font-size :16px;
	font-weight:bold;
       	  
}
#my_id:hover
{color:white;
	background:#23BB14; 
}
#mycolor
{
	text-decoration:none;
}
		
#st:hover
{color:white;
background:#23BB14;}

a:link    {  text-decoration:none; }
a:visited {  text-decoration:none;}
a:hover   { text-decoration:none;}
a:active  { text-decoration:none;}

#glyphicon
{  color:black;
   position:fixed;
   font-size:35px;
   padding-top:10px;
	
}
.new
{
	height:200px;
}
#okk
{
	border-radius:10px;
	
}
.nav-up {
  top: -100px;
}
header {
    background: #f5b335;
    height: 60px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}
.m
{ width:76%;
  margin-left:105px; 
  padding: 10px;
  min-width:1000px;
    
}
.a li
{     
padding:4px;

}

#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.a
{padding:10px;}

#search {
      height: 2.4em;
}
.multi-item-carousel{
  .carousel-inner{
    >.item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-22%;
      }
      &.right{
        left:22%;
      }
    }
    .next{
      left: 22%;
    }
    .prev{
      left: -22%;
    }

@media  all and (transform-3d), (-webkit-transform-3d) 
{
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}


